.cntr {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Высота окна просмотра */
    margin: 0;
    row-gap: 20px;
    grid-template-rows: 40px 80px auto;
    grid-template-areas:
        "add"
        "filters"
        "lst";
 }

.add {
  grid-area: add;
  justify-self: center;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.add button {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.filters-row {
  grid-area: filters;
  display: grid;
  grid-auto-flow: column;
  column-gap: 15px;
  align-items: center;
  width: 50%;
  height: 80px;
  justify-self: center;
  border: 1px solid gray;
  padding: 10px;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.filters-row label{
  font-weight: bold;
  white-space: nowrap;
  justify-self: left;
}
.date-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-self: left;
}
.filterh {
  font-weight: bold;
  white-space: nowrap;
  justify-self: left;
}

.filtertype select,
.dateinp1 input,
.dateinp2 input,
.id-container input,
.apply {
  padding: 5px 8px;
  font-size: 14px;
}
.apply{
    width: 120px;
    justify-self: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #000;
}
.dateinp1 div,
.dateinp2 div{
  justify-self: right;
}

.dateinp1 label,
.dateinp2 label,
.id-container label {
  margin-right: 4px;
  white-space: nowrap;
}
.id-container{
    justify-self: left;
}

.add .icon {
  width: 18px;
  height: 18px;
}

table {
    grid-area: lst;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 70%;
    table-layout: fixed;
    justify-self: center;
 }

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* полупрозрачный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* чтобы было поверх всего */
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}